.marketplace {
  height: 100vh;
  background: #fff253;
  display: flex;

  .left {
    flex: 1;
    border-right: 2px solid #999;
    display:flex;
    justify-content: center;
    align-items: center;
    }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .right_top{
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      gap: 2rem;
      padding: 1rem;
      h4{
        
        color: #000;
      }

      h2{
        color: #7843E8;
        font-weight:900
      }

      p{
        color: #000;
        font-weight: 700;
      }
    }

    .right_bottom{

      img{}
    }

  }
}
