.card_wrapper {
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  padding: 0.6rem;
  margin: 2rem;
  background-color: #fff89f;

  @media (max-width: 800px) {
    margin: 0;
  }

  border: 1px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  .card_header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;

    .avatars {
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .card_info {
      p:first-child {
        color: #000;
        font-size: 1rem;
        font-weight: 700;
      }

      p {
        color: #7843e8;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  .card_main_img {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    background: #000;
    border-radius: 16px;
    gap: 1rem;

    img {
      width: 100%;
      max-width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }
}

.card_footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  .footer_info {
    display: flex;
    align-items: center;
    flex-direction: column;

    p:first-child {
      color: #000;
      font-size: 1rem;
      font-weight: 700;
    }

    p {
      color: #7843e8;
      font-size: 1.5rem;
      font-weight: 900;
    }
  }
}
