.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  gap: 2rem;
  border-bottom: 2px solid #444;
  height: 5rem;
  background: #000;

  .left {
    display: flex;
    align-items: center;
    border-right: 2px solid #444;
    padding-right: 2rem;
    height: 100%;

    h3 {
      // todo come back later
    }
  }

  .center {
    ul {
      display: flex;
      justify-content: space-evenly;
      gap: 3rem;

      li {
        text-transform: uppercase;

        a {
          color: #fff;
          transition: all 0.3s
            ease-in-out;

          &:hover {
            color: #fff253;
          }
        }
      }
    }
  }
}
