.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;
    gap: 2rem;
    border-bottom: 2px solid #444;
    height: 8rem;
    background: #000;
}